/*for container */
.container {
	width: 80%;
	min-width: 529px;	
	height: auto;
	margin: 0 auto;
	border: 1px solid #000;
}

/*for header*/
.header {
	margin: 20px 20px 0 20px;
	padding-bottom: 30px;
	border-bottom: 1px solid #000;
	overflow: auto;	
}

.logo{
	border-radius: 5px;
	float: left;
}

.header h1{
	text-align: center;
}

/*for body*/
.nav{
	float: left;
	width: 20%;
	padding-left: 30px;
}
.lower-container{
	overflow: auto;
}

.section{
	margin-left: 244px;
	
}

.footer{
	font-size: x-small;
	font-style: italic;
}

button, 
input[type="button"],
input[type="submit"]{
	cursor: pointer;
}