/*for register nav*/
.register-nav{
	border-right: 1px solid #000;
}

.arrow{
	margin-left: 20px;
}

/*for register section*/
.register-section{
	margin-top: 80px;
}

.form-block{
	margin: 50px 0;
}

.form-block input{
	width: 50%;
	padding: 5px 0 5px 5px;
	border: 1px solid #c0c0c0;
	border-radius: 3px;
}

.form-block label{
	float: left;
	text-align: right;
	width: 20%;
	line-height: 25px;
	font-size: 18px;
	margin-right: 20px;
	margin-left: 50px;
}

.form-block h4{
	line-height: 25px;
}

.form-btn-block {
	text-align: center;
}

/*for validation error transition*/
.ng-invalid.ng-dirty{
	border-color: #FA787E;
}

.ng-valid.ng-dirty{
	border-color: #78FA89;
}
			
.error{
	margin-left: 234px;
	color: #e60026;
}

.button {
	width: 80px;
}

.message-container {
	text-align: center;
	margin-top: 50px;
}

/*.btn-container input{
	margin-right: 70px;
}*/


/*.notification-panel > div{
	width: 85%;
	margin: 100px auto;
}*/

/*.navigation-container{
	text-align: center;
}*/

/*.navigation-container > button{
	display: block;
	margin: 50px auto;
	padding: 20px 30px;
}*/

/*.enjoy-button{
	font-size: large;
}*/

/*.tutorial-button{
	font-size: x-small;
}*/

