<div id="ganbareModal2">
	<div class="inner">
		<h1><span class="tit">新規ガンバレ作成</span><span class="userid">ID: USER id 00000000000</span></h1>
		<div class="editBox"><div>
			<textarea name="" id="" placeholder="がんばる宣言を書く"></textarea>
			<div class="links"><a href=""><img src="./img/icon_pin4.png" alt=""></a><a href=""><img src="./img/icon_camera.png" alt=""></a></div>
			<div class="date">
				<p class="entry">登録日: 20XX,00,00</p>
				<p class="limit">期限: 20XX,00,00<a href="">カレンダー</a></p>
			</div>
		</div></div>
		<div class="time"><div><span class="timeleft">期限が設定されていません</span></div></div>
		<div class="tagBox">
			<dl>
				<dt><input type="text" placeholder="タグ作成"></dt>
				<dd>タグ候補 / タグ候補 /タグ候補 / タグ候補 /タグ候補 / タグ候補 /タグ候補 /
タグ候補 /タグ候補 / タグ候補 /タグ候補 / タグ候補 /タグ候補 /タグ候補 /
タグ候補 /タグ候補 / タグ候補 /</dd>
			</dl>
			<p class="moreBt"><a href="">↓ もっと見る</a></p>
		</div>
		<p class="productBt"><a href=""><img src="./img/bt_product.png" alt="作成"></a></p>
	</div>

</div>
