<header>
    <div class="headInner">
        <h1 class="logo"><img src="./img/logo.png" alt=""></h1>
        <nav id="gNav">
            <ul>
                <li><a href=""><img src="./img/bt_gnav_1.png" alt=""></a></li>
                <li><a href=""><img src="./img/bt_gnav_2.png" alt=""></a></li>
                <li><a ng-click="logout()" href=""><img src="./img/bt_gnav_3.png" alt=""></a></li>
                <li class="count">1</li>
            </ul>
        </nav>
        <dl id="counterHead">
            <dt><span>現在の<br>総がんばれ！</span></dt>
            <dd class="counter"><span class="num">{{(totalGanbareNumber + totalNumber) | numberFilter:15}}</span><span class="gb">GB</span></dd>
        </dl>
        <nav class="sns">
            <ul>
                <li><a href=""><img src="./img/icon_twitter.png" alt=""></a></li>
                <li><a href=""><img src="./img/icon_facebook.png" alt=""></a></li>
                <li><a href=""><img src="./img/icon_google.png" alt=""></a></li>
            </ul>
        </nav>
    </div>
<!-- ========================   /header   ======================== -->
</header>
