/*container style*/
.container{
	height: auto;
	margin: 0 auto;
	border: 2px solid #000;
}

.nav {
	float: left;
	width: 20%;
}

button,
input[type="button"],
input[type="submit"]{
	cursor: pointer;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}