/*container style*/
.container{
	/*width: 1012px;*/
	height: auto;
	margin: 0 auto;
	border: 2px solid #000;
}

.nav {
	float: left;
	width: 20%;
}

.footer{
	font-size: x-small;
	font-style: italic;
}

button,
input[type="button"],
input[type="submit"]{
	cursor: pointer;
}
