/*container*/
.create-ganbaru {
	width: 750px;
}

.create-ganbaru > .block {
	margin: 10px 0 10px 0;
}

/*header style*/
.create-ganbaru .header {
	padding-bottom: 10px;
}

.create-ganbaru .header > .inline-block{
	padding-top: 20px;
}

.create-ganbaru .header h2 {
	margin: 0;
	padding-right: 28px;
}

.create-ganbaru .date-input {
	font-family: Helvetica Neue;
	font-size: 16px;
	width: 200px;
	/*height: 30px;*/
	padding: 3px;
}
/*section style*/
.create-ganbaru .section {
	padding: 30px;
	background-color: #fdf498;
}

.create-ganbaru .avatar {
	width: 180px;
	height: 200px;
	background-color: #ee4035;
	border-radius: 10px;
}

.create-ganbaru .upload-button {
	text-align: center;
	padding: 30px 0;
}

.create-ganbaru .gb-content > .block {
	margin: 0 0 20px 30px;
}

.create-ganbaru .gb-content .title {
	height: 30px;
}

.create-ganbaru .gb-content input,
.create-ganbaru .gb-content textarea {
	width: 445px;
}

.create-ganbaru .gb-content textarea {
	height: 150px;
	resize: none;
}

.create-ganbaru .tag-option {
	background-color: #7bc043;
	height: 250px;
	margin-top: 30px;
	padding: 20px;
	text-align: center;
}

.create-ganbaru .button-block {
	text-align: center;
	padding: 15px 0;
}

.create-ganbaru .button-block button{
	width: 150px;
	height: 40px;
	margin: 0 30px 0 30px;
}