/*common style*/
.float-left {
	float: left;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

/*container*/
.create-ganbaru {
	width: 650px;
}

.create-ganbaru > .block {
	margin: 10px 0 10px 0;
}

/*header style*/
.create-ganbaru .header {
	padding-bottom: 10px;
}

.create-ganbaru .header > div{
	display: inline-block;
	padding-top: 20px;
}

.create-ganbaru .header h3 {
	margin: 0;
	padding-right: 30px;
}

.create-ganbaru .date-input {
	font-family: Helvetica Neue;
	width: 177px;
	padding: 0 5px;
}
/*section style*/
.create-ganbaru .section {
	padding: 30px;
	background-color: #fdf498;
}

.create-ganbaru .avatar {
	width: 180px;
	height: 200px;
	background-color: #ee4035;
	border-radius: 10px;
}

.create-ganbaru .upload-button{
	text-align: center;
	padding: 30px 0;
}

.create-ganbaru .gb-content > div {
	padding: 0 0 20px 25px;
}

.create-ganbaru .gb-content input,
.create-ganbaru .gb-content textarea {
	width: 350px;
}

.create-ganbaru .gb-content textarea {
	height: 150px;
	resize: none;
}

.create-ganbaru .tag-option {
	background-color: #7bc043;
	height: 250px;
}

.create-ganbaru .button-block {
	text-align: center;
	padding: 15px 0;
}

.create-ganbaru .button-block button{
	width: 150px;
	height: 40px;
	margin: 0 30px 0 30px;
}