.edit-ganbaru label {
	font-weight: normal;
}
.edit-ganbaru h2 {
	margin: 0;
}

.edit-ganbaru button,
.edit-ganbaru label,
.edit-ganbaru input,
.edit-ganbaru textarea {
	font-size: 16px;
}

/*container*/
.edit-ganbaru {
	width: 750px;
	padding: 20px;
	font-size: 20px;
}

/*header style*/
.edit-ganbaru .header {
	min-height: 182px;
}

.edit-ganbaru .avatar {
	background-color: #ee4035;
	border-radius: 10px;
	width: 120px;
	height: 150px;
}

.edit-ganbaru .username-container {
	text-align: center;
	padding: 5px 0;
	font-size: 16px;
	font-weight: bold;
}

.edit-ganbaru .date-container {
	padding: 15px 0 0 30px;
}

.edit-ganbaru .created-date {
	margin-right: 80px;
}

.edit-ganbaru .datepickerbox {
	padding: 0 3px;
	font-size: 18px;
	width: 170px;
}

.edit-ganbaru .ganbare {
	padding-top: 22px;
}

.edit-ganbaru .ganbare-number {
	border: 2px solid #000;
	padding: 23px;
	width: 430px;
	text-align: right;
}

.edit-ganbaru .ganbare-button-container{
	margin-left: 35px;
}

.edit-ganbaru .ganbare-button {
	padding: 0;
}

.edit-ganbaru .ganbare-button > div {
	width: 80px;
	height: 80px;
	background-size: cover; 
	background-image: url('../img/user/ganbare.png');;
}

/*section style*/
.edit-ganbaru .section {
	margin: 20px 0;
	padding: 20px;
	background-color: #fdf498;
}

.edit-ganbaru .ganbaru-avatar {
	border-radius: 10px;
	width: 180px;
	height: 180px;
	background-color: #7bc043;
}

.edit-ganbaru .upload-button-container {
	padding: 20px 0;
	text-align: center;
}

.edit-ganbaru .ganbaru-content {
	margin-left: 30px;
}

.edit-ganbaru .ganbaru-content .block {
	margin-bottom: 22px;
}

.edit-ganbaru .ganbaru-content label {
	font-weight: bold;
	width: 80px;
	line-height: 25px;
}

.edit-ganbaru .ganbaru-content input,
.edit-ganbaru .ganbaru-content textarea {
	width: 370px;
	padding: 3px;
}

/*confirm button block*/
.edit-ganbaru .confirm-button-container {
	padding: 30px 30px 10px 30px;
	text-align: center;
}

.edit-ganbaru .error {
	padding-top: 10px;
	text-align: center;
	color: red;
}

.edit-ganbaru .confirm-button {
	width: 200px;
	height: 50px;
	font-size: 18px;
	margin-left: 20px;
	margin-right: 20px;
}
