/*container style*/
.ganbare-container {
	width: 750px;
	margin: 0 auto;
	min-height: 650px;
	border: 2px solid #000;
	padding: 15px 15px 0 15px;
}

.ganbare-block {
	display: block;
	/*background-color: #dedede;*/
	margin-bottom: 15px;
}

/*block of name, expired data, created date*/
.ganbare-block:nth-child(1) {
	height: 150px;
}

.ganbare-user-logo {
	width: 120px;
	height: 150px;
	background-color: #ff4252;
	color: #fff;
	float: left;
	text-align: center;
}

.ganbare-information > div {
	display: block;
	margin-bottom: 20px;
	margin-left: 140px;
}

.ganbare-information h4 {
	display: inline-block;
  	margin: 20px 40px 0 0;
  	font-size: 20px;
}

/*block of ganbaru number, like button, pin button*/
.ganbare-block:nth-child(2) {
	height: 80px;
}

.ganbare-block:nth-child(2) > div {
	display: inline-block;
}

.ganbare-block:nth-child(2) button {
	float: right;
	margin-left: 10px;
}

.ganbare-number {
	width: 480px;
	border: 2px solid #000;
	height: 80px;
}

.ganbare-number h3 {
	font-size: 35px;
  	text-align: right;
  	margin: 20px 21px 0 0 ;
}

/*block of ganbare content*/
.ganbare-block:nth-child(3) {
	background-color: #dedede;
	height: 250px;
	padding: 20px;
	font-size: 20px;
	text-align: center;
}

/*block of ganbare image*/
.ganbare-block:nth-child(4) {
	background-color: #dedede;
	height: 100px;
}

/*block of + ganbare button*/
.ganbare-block:nth-child(5) {
	text-align: center;
}

.ganbare-block:nth-child(5) button {
	height: 50px;
	width: 50%;
}

/*block of list*/
.ganbare-block:nth-child(6) {
	background-color: #dedede;
	height: 200px;
}