/*container style*/
.ganbaru-detail {
	width: 750px;
	padding: 15px 15px 0 15px;
	background-color: #f4ffd6;
}

.ganbaru-detail .block {
	margin-bottom: 15px;
}

/*block of name, expired data, created date*/
.ganbaru-detail .avatar-block {
	height: 150px;
}

.ganbaru-detail .user-avatar{
	width: 120px;
	height: 150px;
	background-color: #ff4e50;
	border-radius: 10px;
}

.ganbaru-detail .information > div {
	margin: 0 0 20px 20px;
}

.ganbaru-detail .information h4 {
  	margin: 20px 40px 0 0;
  	font-size: 20px;
}

/*block of ganbaru number, like button, pin button*/
.ganbaru-detail .button-block {
	height: 80px;
}

.ganbaru-detail .button-block > div {
	background-color: #ccec75;
}

.ganbaru-detail .button-block button {
	margin-left: 20px;
	padding: 0;
}

.ganbaru-detail .button-block button > div {
	background-size: cover;
	width: 74px;
	height: 74px;
}

.ganbaru-detail .is-pinning {
	background-image: url('../img/user/pin.png');
}

.ganbaru-detail .is-not-pinning {
	background-image: url('../img/user/unpin.png');
}

.ganbaru-detail .is-favor {
	background-image: url('../img/user/favor.png');
}

.ganbaru-detail .is-unfavor {
	background-image: url('../img/user/unfavor.png');
}

.ganbaru-detail .ganbareIcon {
	background-image: url('../img/user/ganbare.png');
}

.ganbaru-detail .number {
	width: 400px;
	border: 2px solid #000;
	height: 80px;
}

.ganbaru-detail .number h3 {
	font-size: 35px;
  	text-align: right;
  	margin: 20px 21px 0 0 ;
}

/*block of ganbare content*/
.ganbaru-detail .content-block {
	min-height: 250px;
	overflow: auto;
	padding: 20px;
	font-size: 18px;
}

/*block of ganbare tags*/
.ganbaru-detail .tags-block {
	height: 100px;
	padding: 15px;
}

.ganbaru-detail .tags-block ul {
	padding: 0;
}

.ganbaru-detail .tags-block li {
	text-decoration: none;
	padding: 3px 5px 3px 5px;
	margin-right: 5px;
	border-radius: 5px;
	background: -moz-linear-gradient(top, #a0db8e, #6dc066);
	background: -webkit-linear-gradient(top, #a0db8e, #6dc066);
	background: -o-linear-gradient(top, #a0db8e, #6dc066);
	background: linear-gradient(to top, #a0db8e, #6dc066);
}

.ganbaru-detail .tags-block li > label {
	margin: 0;
}

/*block of ganbare location*/
.ganbaru-detail .content-block,
.ganbaru-detail .tags-block,
.ganbaru-detail .map-block {
	background-color: #dff79e;
}

/*List people ganbare style */
.ganbaru-detail .ppl-block {
	height: 250px;
	background-color: #fff;
}

.ganbaru-detail .ppl-block h3 {
	margin: 0;
	padding: 20px 0;
	text-align: center;
	background-color: #f37736;
}

.thumbnail-list {
	overflow: scroll; 
	height: 183px;
	padding-left: 0;
	margin: 0;
}

.thumbnail-list > li 	{
	list-style: none;
	padding: 10px 10px 10px 30px;	
	overflow: auto;
}

.thumbnail-list > li:hover {
	background: #a4d3ee;
}

.thumbnail-list .user-icon {
	width: 60px;
	height: 60px;
	background-size: cover;
	background-image: url('../img/user/user.png');
}

.thumbnail-list .username {
	padding: 10px 0;
}

.ganbaru-detail .nav-button-block  {
	text-align: center;
	padding: 20px 0;
}

.ganbaru-detail .nav-button-block button {
	width: 230px;
	height: 50px;
	font-size: 16px;
	margin: 0 30px 0 30px;
}
