.nav {
	min-height: 490px;
	border-right: 1px solid #000;
}

.form-container {
	margin-top: 50px;
}

.form-block {
	display: block;
	margin: 60px 0;
}

.form-block > label {
	float: left;
	text-align: right;
	width: 15%;
	margin: 0 30px 0 60px;
}

.form-block > input[type="email"],
.form-block > input[type="password"] {
	width: 50%;
}

.button-block, .error-block {
	text-align: center;
}

.error-block {
	color: #ff0000;
}