*:focus {
    outline: 0;
}
.login {
	width: 800px;
	margin: 50px auto;
	padding: 20px 50px;
}

.login label {
	font-size: 16px;
	width: 100px;
	text-align: right;
	margin-right: 40px;
	line-height: 30px;
}

.login p {
	text-align: center;
}

.login .block {
	margin: 50px 40px;
}

.login input[type="text"],
.login input[type="password"],
.login input[type="email"] {
	width: 70%;
	font-size: 16px;
	padding: 3px 5px;
	border: 1px solid #d1cfd5;
	border-radius: 5px; 
}

.login .btn-block {
	text-align: center;
	margin-left: 120px;
}

.login .btn {
	color: #fff;
	cursor: pointer;
	padding: 7px 0;
	margin: 70px auto;
	font-size: 15px;
	border-radius: 5px;
	background-color: #2C90D5;
	width: 100px;
}

.login .error-block {
	margin-left: 120px;
	color: #ff0000;
	font-size: 14px;
	text-align: center;
}