.content {
    margin: 0 auto;
    margin-top: 0;
    width: 1000px;
    height: 100%;
    background: #DCDFE4;
}
.top {
    width: 100%;
    height: 100px;
    background: #C7CDDB;
}
.content .logo {
    width: 100px;
    height: 50px;
    background: #000080;
    margin-top: 20px;
    margin-left: 20px;
}
.content .logo p{
    text-align: center;
    color: #DCDFE4;
}
.menu-top ul{
    float: left;
    margin-top: 40px;
}
.menu-top ul li{
    float: left;
    margin-left: 20px;
    list-style: none;
    background: rgb(180, 206, 42);
    width: 80px;
    height: 26px;
    border-radius: 5px;
    text-align: center;
}
.menu-top ul li a{
    text-decoration: none;
    margin-top: 4px;
    float: left;
    margin-left: 19px;
}
.totalNumberTop{
    margin-top: 18px;
    float: left;
    margin-left: 179px;
}
.main{
    float:left;
    background: #F5EEEE;
    width: 100%;
    height: 100%;
}
.main-left{
    float:left;

    width: 25%;
    height: 500px;
}
.avatarUser{
    float: left;
    width: 65px;
    height: 65px;
    background: #C45454;
    margin-left: 20px;
    margin-top: 20px;
}
.avatarUser p{
    float: left;
    margin-left: 108px;
    margin-top: 25px;
}
.createNew{
    width: 50px;
}
.main-right{
    width: 74%;
    float: left;
    height: 100%;
    background: #E2E2E8;
    border: 2px solid #353539;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-top: 16px;
}
.main-right .ganbaru-content{
    width: 700px;
    height: 611px;
    margin-top: 50px;
    margin-left: 20px;
}
.main-search{
    float: left;
    width: 700px;
    height: 68px;
    background: #004080;
    margin-left: 20px;
}
.main-right .ganbaru-content ul li{
    width: 700px;
    margin-left: -40px;
    height: 150px;
    background: #D8E6F3;
    float: left;
    list-style: none;
    margin-top: 10px;
}
.img img{
    width: 75px;
    height: 39px;
    margin-left: 25px;
    margin-top: 10px;
    background: #004080;
    float:left;
}
.img img{
    width: 75px;
    height: 39px;
    margin-left: 25px;
    margin-top: 10px;
    background: #004080;
    float:left;
}
.img p{
    margin-top: 10px;
    margin-left: 36px;
    width: 438px;
    height: 43px;
    background: #fff;
    float: left;
    text-align: right;
    font-weight: bold;
    font-size: 32px;
    border: 2px solid #000;
}
.thumbnail-img .thumbnail{
    float: left;
    background: #C45454;
    width: 50px;
    height: 50px;
    margin-left: 38px;
}
.thumbnail-img .content{
    float: left;
    width: 400px;
    height: 80px;
    margin-left: 12px;
}
.thumbnail-img .detail{
    float: left;
    width: 80px;
    height: 80px;
    margin-left: 12px;
}
.content .content-top{
    float: left;
    height: 45px;
    width: 400px;
    margin-left: 23px;
}
.thumbnail-img .ganbaru-dd{
    float: left;
    width: 88px;
    height: 80px;
    margin-left: 12px;
}
.content .content-bottom p{
    display: inline-block;
    margin-left: 23px;
}
.ganbaru-dd input{
    border: none;
    height: 80px;
}
.detail a{
    float: left;
    margin-top: 25px;
    margin-left: 10px;
}
