.list-my-page .page-left{
	width: 100%;
	height: 60px;
	float: left;
}
.list-my-page .page-right{
	width: 100%;
	height: 90px;
	float: left;
}
.list-my-page .page-left .date{
	width: 50%;
	height: 60px;
	font-size: 16px;
	font-weight: bold;
	float:left;
}
.list-my-page .page-left .totalnumber{
	float: left;
	font-size: 26px;
	font-weight: bold;
	margin-left: 100px;
}
.list-my-page .page-right .avatar{
	width: 50px;
	height: 50px;
	background: #add;
	float: left;
}
.list-my-page .page-right .content-mypage{
	float: left;
}
.list-my-page .page-right .content-mypage p{
	float: left;
	width: 500px;
}
.list-my-page .page-right .content-mypage .detail-mypage{
	float: left;
}
