/*container*/
.register {
	width: 1000px;
}

.register button, 
.register input[type="button"],
.register input[type="submit"]{
	cursor: pointer;
	width: 80px;
	margin-left: 30px;
	margin-right: 30px;
}

/*header style*/
.register .header {
	margin: 20px 20px 0 20px;
	padding-bottom: 20px;
	border-bottom: 2px solid #000;
	overflow: auto;	
}

.register .logo{
	width: 100px;
	height: 100px;
	background-image: url('../img/logo/coffee.jpg');
	background-size: cover;
	border-radius: 5px;
}

.register .header h1{
	text-align: center;
	margin-top: 25px;
}

/*body style*/
/*left menu style*/
.register .nav{
	width: 25%;
	padding-left: 30px;
	padding-top: 20px;
	border-right: 2px solid #000;
}

.register .arrow{
	margin-left: 20px;
}

.register .nav .notification {
	margin: 60px 0 30px 0;
}

.register .nav .notification h4 {
	font-weight: bold;
}

.register .footer{
	font-size: x-small;
	font-style: italic;
	padding: 10px 0;
}

/*section style*/
.register .section{
	margin-left: 244px;
	padding-top: 20px;
}

/*for register section*/
.register .block{
	margin: 50px 0;
}

.register .block input{
	width: 60%;
	padding: 3px;
	border: 1px solid #c0c0c0;
	border-radius: 3px;
}

.register .block label{
	text-align: right;
	width: 20%;
	line-height: 30px;
	font-size: 16px;
	margin-right: 30px;
	margin-left: 30px;
}

.register .block h4{
	line-height: 25px;
}

.register .button-block {
	text-align: center;
}


/*Validation input transition*/
.register .ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.register .ng-valid.ng-dirty {
	border-color: #78FA89;
}
		
.register .error{
	color: #e60026;
}

.register .register-panel .error {
	margin-top: 15px;
	margin-left: 202px;
}

.register .confirm-panel .error {
	width: 50%;
	margin: auto;
	text-align: center;
}

/*confirm panel style*/
.register .confirm-panel .block {
	overflow: auto;
}

.register .confirm-panel p {
	font-size: 16px; 
	line-height: 30px;
}

/*verify-panel-style*/
.register .verify-panel {
	text-align: center;
}

.register .verify-panel .notification {
	width: 80%;
	margin: 30px auto;
	font-size: 18px;
}

.register .verify-panel .verify-button button{
	width: 25%;
	height: 80px;
}