*:focus {
    outline: 0;
}
.register {
	width: 800px;
	margin: 50px auto;
	padding: 20px 50px;
}

.register label {
	font-size: 16px;
	width: 100px;
	text-align: right;
	margin-right: 40px;
	line-height: 30px;
}

.register p {
	text-align: center;
}

.register .block {
	margin: 50px 40px;
}

.register input[type="text"],
.register input[type="password"],
.register input[type="email"] {
	width: 70%;
	font-size: 16px;
	padding: 3px 5px;
	border: 1px solid #d1cfd5;
	border-radius: 5px; 
}

.register .btn-block {
	text-align: center;
}

.register .input-panel .btn-block {
	margin-left: 120px;
}

.register .btn {
	color: #fff;
	cursor: pointer;
}

.register .input-panel .btn,
.register .confirm-panel .btn,
.register .error-panel .btn {
	padding: 7px 0;
	margin: 20px 40px;
	font-size: 16px;
	border-radius: 5px;
}

.register .input-panel .btn,
.register .confirm-panel .btn {
	width: 90px;
}

.register .verify-panel .btn {
	width: 200px;
	font-size: 25px;
	font-weight: bold;
	padding: 20px 0;
	margin: 40px auto;
	border-radius: 10px;
}

.register .error-panel .btn {
	width: 150px;
}

.register .btn-positive {
	background-color: #2C90D5;
}

.register .btn-negative {
	background-color: #ff0000;
}

.register .value {
	font-weight: bold;
}

.register .error-input {
	color: #ff0000;
	font-size: 14px;
	text-align: left;
	margin: 20px 140px;
}

.register .ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.register .ng-valid.ng-dirty {
	border-color: #78FA89;
}

.register .notification {
	font-size: 16px;
}

.register .error-content {
	font-size: 16px;
	margin: 50px 0;
}