<div class="container login">
	<!--HEADER-->
	<div>
			<div class="login-header">
				<img class="logo" src="img/logo/coffee.jpg" alt="Ganbare logo" width="100" height="100"></img>
				<div><h2>Change password</h2></div>
			</div>
	</div>

	<div>
		<!--NAV-->
		<div class="nav login-nav">

		</div>
		<!--SECTION-->
		<div class="login-section">
			<form name="loginForm" ng-submit="changePassword()" novalidate>
				<div class="form-block">
					<label>oldPassword</label>
					<input type="password" ng-model="user.oldPassword">
				</div>
				<div class="form-block">
					<label>newPassword</label>
					<input type="password" ng-model="user.newPassword">
				</div>
				<div class="form-block button-block">
					<input type="submit" value="Save">
				</div>
				<div class="form-block error-block">
					{{message}}
				</div>
			</form>
		</div>
	</div>
</div>
