<!--WHOLE CONTAINER-->
<div class="container create-ganbaru">
	<!--HEADER-->
	<div class="block header">
		<div class="inline-block"><h2>Create new Ganbaru</h2></div>
		<div class="inline-block">
			<input class="float-left date-input" type="text" ng-value="createdDate | date:'yyyy/MM/dd'" readonly>
		</div>
		<!--date picker box-->
		<div class="inline-block">
			<datepicker date-format="yyyy/MM/dd">
				<input class="date-input" placeholder="Click to choose expired Date" ng-model="ganbaru.expiredDate" type="text" readonly/>
			</datepicker>
		</div>
	</div>
	
	<!--SECTION CONTENT-->
	<div class="block section">
		<div class="block">
			<!--AVATAR-->
			<div class="float-left inline-block">
				<div class="avatar"></div>
				<div class='upload-button'><button>Upload</button></div>
			</div>
			<!--TITLE, CONTENT, TAGS-->
			<div class="gb-content inline-block">
				<div class="block"><input class="title" type="text" ng-model="ganbaru.ganbaruTitle" placeholder="Title:"></div>
				<div class="block"><textarea ng-model="ganbaru.ganbaruContent"></textarea></div>
				<!--tags-->
				<div class="block">
					<tags-input ng-model="tagsInput"></tags-input>
				</div>
			</div>
		</div>
		<div class="block tag-option">
			<h3>{{error}}</h3>
		</div>
	</div>

	<div class="block button-block">
		<div>
			<div class="inline-block">
				<button ng-click="createGanbaru()">Confirm</button>
			</div>
			<div class="inline-block">
				<button ng-click="goTo('/feedmb')">Back To Feed</button>
			</div>
		</div>
	</div>
</div>