<div class="container edit-ganbaru">

	<!--Header block-->
	<div class="block header">

		<!--Avatar and username-->
		<div class="inline-block float-left">
			<div class="block avatar"></div>
			<div class="username-container">{{ganbaruUser.username}}</div>
		</div>

		<!--Date and Ganbare number-->
		<div class="inline-block date-container">

			<!--Date-->
			<div class="block">
				<div class="inline-block created-date"><label><b>Created Date</b>: 2014/02/15</label></div>
				<div class="inline-block">
					<div class="inline-block">
						<label><b>Expired Date</b>: </label>
					</div>
					<div class="inline-block float-right">
						<datepicker date-format="yyyy/MM/dd">
							<input class="datepickerbox" ng-model="ganbaru.expiredDate" type="text" readonly/>
						</datepicker>
					</div>
				</div>
			</div>

			<!--Ganbare-->
			<div class="block ganbare">
				<div class="inline-block ganbare-number float-left"><h2>{{ganbaru.ganbareNumber}}</h2></div>
				<div class="inline-block ganbare-button-container">
					<button class="ganbare-button" ng-click="addGanbare()"><div></div></button>
				</div>
			</div>
		</div>
	</div>

	<!--Section block-->
	<div class="block section">

		<!--Ganbaru Image-->
		<div class="inline-block float-left">
			<div class="ganbaru-avatar block"></div>
			<div class="upload-button-container block">
				<button>Upload</button>
			</div>
		</div>

		<!--Ganbu title, content and tags-->
		<div class="inline-block ganbaru-content">
			<div class="block">
				<label class="float-left">Title</label><input type="text" ng-model="ganbaru.ganbaruTitle">
			</div>
			<div class="block">
				<label class="float-left">Content</label><textarea rows="6" ng-model="ganbaru.ganbaruContent"></textarea>
			</div>
			<div class="block">
				<label class="float-left">Tags</label><tags-input ng-model="inputTags"></tags-input>
			</div>
		</div>
	</div>

	<!--Error message block-->
	<div class="block error" ng-show="error">
		<h4>{{error}}</h4>
	</div>

	<!--Button block for navigation-->
	<div class="confirm-button-container">
		<button class="confirm-button" ng-click="editGanbaru()">Confirm</button>
		<button class="confirm-button" ng-click="goTo('/ganbaru/' + ganbaru.ganbaruId)">Back</button>
	</div>
</div>