<div class="content">
    <div class="top">
        <div class="logo">
            <p>Logo</p>
        </div>
        <div class="menu-top">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">MyPage</a></li>
                <li><a href="#">Setting</a></li>
            </ul>
        </div>
        <div class="totalNumberTop">
            <h2>Total Number: {{ganbaru.extendedInfor.totalGanbareNumber + totalNumber}}</h2>
        </div>
    </div>
    <div class="main">
        <div class="main-left">
            <div class="avatarUser">
                <img src="" />
                <p>Username</p>
            </div>
        </div>
        <div class="createNew">
        </div>
        <div class="main-right">
            <div class="main-search">

            </div>
            <div class="ganbaru-content">
                <h1>{{getGanbaruError}}</h1>
                <ul>
                    <li dir-paginate="item in ganbaru.data | itemsPerPage:ganbaruPerPage" current-page="currentPage" total-items="totalGanbaru">
                        <div class="img">
                            <img src="" />
                            <img src="" />
                            <p ng-init="item.ganbaru.createDate = 0; totalNumber = 0">{{item.ganbaru.ganbareNumber + item.ganbaru.createDate}}</p>
                        </div>
                        <div class="thumbnail-img">
                            <div class="thumbnail">
                            </div>
                            <div class="content">
                                <div class="content-top">
                                    <p>{{item.ganbaru.ganbaruContent}}</p>
                                </div>
                                <div class="content-bottom">
                                    <p>{{item.user.username}}</p>
                                    <p>{{item.ganbaru.createDate | date:'yyyy-MM-dd'}}</p>
                                    <p>{{item.ganbaru.expiredDate | date:'yyyy-MM-dd'}}</p>
                                </div>
                            </div>
                            <div class="ganbaru-dd">
                                <button ng-click="item.ganbaru.createDate = item.ganbaru.createDate + 1">
                                    <input type="button" class="" value=" + Ganbaru" ng-click="addGanbare(
                                    item)">
                                </button>
                            </div>
                            <div class="detail">
                                <button ng-click="detailGanbare(item.ganbaru.ganbaruId)">Detail</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
        </div>
    </div>
</div>

