
<header>
	<div class="headInner">
		<h1 class="logo"><img src="./img/logo.png" alt=""></h1>
		<p class="txt">どこかでがんばっている誰かに<br>GANBAREしよう！</p>
		<p class="txt2"><a href="">GANBAREとは？</a></p>
		<dl id="counterHead">
			<dt><span>現在の<br>総がんばれ！</span></dt>
			<dd class="counter"><span class="num">{{(totalGanbareNumber + totalNumber) | numberFilter:15}}</span><span class="gb">GB</span></dd>
		</dl>
		<nav class="sns">
			<ul>
				<li><a href=""><img src="./img/icon_twitter.png" alt=""></a></li>
				<li><a href=""><img src="./img/icon_facebook.png" alt=""></a></li>
				<li><a href=""><img src="./img/icon_google.png" alt=""></a></li>
			</ul>
		</nav>
	</div>
<!-- ========================   /header   ======================== -->
</header>


<div id="contents">
<div id="contMain">
	<div class="searchBox">
		<h2><span>がんばる検索</span></h2>
		<div class="inner">
			<ul>
				<li class="current"><a href="" ng-click="listHotGanbaru()">HOT!</a>
					<ul>
						<li class="current"><a href="" ng-click="listGanbaru()">NEW!</a></li>
						<li><a href="">多い</a></li>
						<li><a href="">少ない</a></li>
						<li><a href="">期限近い</a></li>
					</ul>
				</li>
				<li><a href="" ng-click="listGanbaru()">NEW!</a>
					<ul>
						<li><a href="" ng-click="listGanbaru()">NEW!</a></li>
						<li><a href="">多い</a></li>
						<li><a href="">少ない</a></li>
						<li><a href="">期限近い</a></li>
					</ul>
				</li>
				<li><a href="" ng-click="listExpireGanbaru()">期限間近</a>
					<ul>
						<li><a href="">NEW!</a></li>
						<li><a href="">多い</a></li>
						<li><a href="">少ない</a></li>
						<li><a href="">期限近い</a></li>
					</ul>
				</li>
				<li><a href="" ng-click="demoDialog()">タグクラウド</a>
					<ul>
						<li><a href="">NEW!</a></li>
						<li><a href="">多い</a></li>
						<li><a href="">少ない</a></li>
						<li><a href="">期限近い</a></li>
					</ul>
				</li>
				<li ng-submit="searchGanbaru(contentSearch)" class="search"><input type="text" ng-model="contentSearch"></li>
			</ul>
		</div>
	</div>
	<div class="ganbareBox" ng-repeat="item in ganbaru">
		<span ng-init="totalNumber = 0; $index = 0;"></span>
		<div class="date">
			<p class="txt1"><span>登録日</span>{{item.ganbaru.createDate | dateFilter}}</p>
			<p class="txt2"><span>期限日</span>{{item.ganbaru.expiredDate | dateFilter}}</p>
			<p class="txt3">残り日数 1日</p>
		</div>
		<div class="tit">
			<h2>{{item.user.username}}</h2>
			<p class="counter"><span>{{(item.ganbaru.ganbareNumber + $index | numberFilter:15)}}<span>GB</span></span></p>
		</div>
		<p class="profIcon"><img src="./img/user2.png" alt=""></p>
		<div class="ganbareVoice">
			<p><span class="txt">{{item.ganbaru.ganbaruContent}}</span><span class="bg"><img src="./img/000000.png"></span></p>
			<img src="./img/bg_fukidashi2.png" class="fukidashi" ="">
		</div>
		<div class="btArea">
			<p class="btGanbare" ng-click="$index = $index + 1"><a href="" ng-click="addGanbare(item)" class="modal"><img src="./img/bt_ganbare.png" alt=""></a></p>
			<p class="pin"><a href="" class="modal">ピンどめする</a></p>
			<p class="btDetail"><a href="" ng-click="ganbaruDialog(item)">詳細を見る</a></p>
		</div>
	</div>
	<p class="moreview" ng-if="length >= skip" ng-click="listMoreGanbaru()"><a href=""><span>もっと見る</span></a></p>


</div>
<div id="sideMenu">
	<div class="userBox">
		<p><img src="./img/user.png" alt=""><span>ようこそ！</span><br>あなたのがんばれ！を<br>ください！</p>
	</div>
	<p class="btNew"><a href="#/register"><span>新規登録</span></a></p>
	<p class="fukidashiBox"><img src="./img/arrow2.png"><span class="inner"><span>登録すると・・・</span><br>・応援した履歴を見る事ができます。<br>・がんばる宣言ができます！</span></p>
	<p class="btAbout"><a href="">GANBAREとは？</a></p>
	<dl class="missionBox">
		<dt><img src="./img/bt_mission.png" alt="our mission"></dt>
		<dd>みなさんのガンバレが集まったら…<br><a href="">詳しくはこちら</a></dd>
	</dl>
	<p class="linkAbout"><a href="">このサイトについて</a></p>
	<p class="copyright">CopyRight(c) ＧＡＮＢＡＲＥ All Righits Reserved.</p>
</div>

<!-- ========================   /contents   ======================== -->
</div>
