<div class="content">
    <header-directive></header-directive>
    <div class="main">
        <left-directive></left-directive>
        <div class="createNew">
        </div>
        <div class="main-right">
            <div class="main-search">
                <button ng-click="listGanbaru()">LIST GANBARU</button>
                <button ng-click="listPinGanbaru()">LIST PINNING</button>
                <button ng-click="listOfFavoriteGanbaru()">LIST OF FAVORITE</button>
                <button ng-click="listByUserGanbaru()">LIST BY USER</button>
                <button ng-click="listTagGanbaru()">TAG</button>
                <button ng-click="listHotGanbaru()">HOT</button>
                <button ng-click="listGanbaru()">NEW</button>
                <button ng-click="listExpireGanbaru()">EXPIRING</button><br>
                <span ng-if="!showTags">
                    <form class="searchForm" ng-submit="searchGanbaru(contentSearch)">
                        Search:
                        <input type="text" class="inputSearch" ng-model="contentSearch" />
                        <input type="submit" class="search" value="Search" />
                    </form>
                </span>
                <span ng-if="showTags">
                    <form class="searchTag" ng-submit="searchTagGanbaru()">
                        Select Tags:
                        <label ng-repeat="tag in checkboxesListTag">
                          <input type="checkbox" value="{{tag}}" ng-checked="selectTag.indexOf(tag) > -1" ng-click="toggleSelection(tag)"> {{tag}}
                        </label>
                        <input type="submit" class="search" value="Search" />
                    </form>
                </span>
            </div>
            <div class="ganbaru-content">
                <h1>{{getGanbaruError}}</h1>
                <ul>
                    <li ng-repeat="item in ganbaru">
                        <span ng-init="$index = 0; totalNumber = 0"></span>
                        <div class="img">
                            <span ng-if="item.ganbaru.isPinning == false">
                                <p class="pin" ng-click="pinGanbaru(item)"></p>
                            </span>
                            <span ng-if="item.ganbaru.isPinning == true">
                                <p class="unpin" ng-click="unPinGanbaru(item)"></p>
                            </span>
                            <span ng-if="item.user.isFavoristUser == false">
                                <p class="favorite" ng-click="addFavorite(item, ganbaru)"></p>
                            </span>
                            <span ng-if="item.user.isFavoristUser == true">
                                <p class="removefavorite" ng-click="removeFavorite(item, ganbaru)"></p>
                            </span>
                            <p>{{item.ganbaru.ganbareNumber + $index}}</p>
                        </div>
                        <div class="thumbnail-img">
                            <div class="thumbnail">
                            </div>
                            <div class="content">
                                <div class="content-top">
                                    <p>{{item.ganbaru.ganbaruContent}}</p>
                                </div>
                                <div class="content-bottom">
                                    <p>{{item.user.username}}</p>
                                    <p>{{item.ganbaru.createDate | dateFilter}}</p>
                                    <p>{{item.ganbaru.expiredDate | dateFilter}}</p>
                                </div>
                            </div>
                            <div class="ganbaru-dd">
                                <a ng-click="$index = $index + 1">
                                    <input type="button" class="" value=" + Ganbaru" ng-click="addGanbare(
                                    item)">
                                </a>
                            </div>
                            <div class="detail">
                                <a href="#/ganbaru/{{item.ganbaru.ganbaruId}}">Detail</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <button class="more-ganpare" ng-if="length >= skip" ng-click="listMoreGanbaru()">More...</button>
        </div>
    </div>
</div>

