<div class="container login">
	<!--HEADER-->
	<div>
			<div class="login-header">
				<img class="logo" src="img/logo/coffee.jpg" alt="Ganbare logo" width="100" height="100"></img>
				<div><h2>Sum of Ganbare until now 0000000000000000</h2></div>
			</div>
	</div>

	<div>
		<!--NAV-->
		<div class="nav login-nav">

		</div>
		<!--SECTION-->
		<div class="login-section">
			<form name="loginForm" ng-submit="login()" novalidate>
				<div class="form-block">
					<label for="email">Email</label>
					<input type="email" ng-model="user.email">
				</div>
				<div class="form-block">
					<label for="password">Password</label>
					<input type="password" ng-model="user.unencryptedPassword">
				</div>
				<div class="form-block button-block">
					<input type="submit" value="Login">
				</div>
				<div class="form-block error-block">
					{{error}}
				</div>
			</form>
		</div>
	</div>
</div>
