<div class="content">
    <header-directive></header-directive>
    <div class="main">
        <left-directive></left-directive>
        <div class="createNew">
        </div>
        <div class="main-right">
            <div class="main-search">
                <h2>My Ganbaru List</h2>
                <div class="newGanbaru">
			        <a ng-href="#/creategb">
			            <button>New Ganbaru</button>
			        </a>
                    <a ng-href="#/edit-my-page">
                        <button>Edit My Page</button>
                    </a>
			    </div>
            </div>
            <div class="ganbaru-content">
                <h1>{{getGanbaruError}}</h1>
                <div date-picker="start" min-view="date"></div>
                <ul>
                    <li ng-repeat="item in ganbaru">
                        <div class="list-my-page">
                            <div class="page-left">
                                <div class="date">
                                    <p>Create date: {{item.ganbaru.createDate | dateFilter}}</p>
                                    <p>Time: {{item.ganbaru.expiredDate | dateFilter}}</p>
                                </div>
                                <div class="totalnumber">
                                    <p>{{item.ganbaru.ganbareNumber}}</p>
                                </div>
                            </div>
                            <div class="page-right">
                                <div class="avatar">

                                </div>
                                <div class="content-mypage">
                                    <p>{{item.ganbaru.ganbaruContent}}</p>
                                    <div class="detail-mypage">
                                        <a href="#/ganbaru/{{item.ganbaru.ganbaruId}}">Detail</a>
                                        <button ng-click="deleteGanbaru(item)">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <button class="more-ganpare" ng-if="length >= skip" ng-click="listMoreGanbaru()">More...</button>
        </div>
    </div>
</div>

