<header-directive></header-directive>
<div id="contents">
<div id="keyvisual"><img src="./img/11111.jpg" alt=""></div>
<div id="contMain">
    <div class="searchBox2">
        <h2>マイがんばる一覧</h2>
        <ul>
            <li class="current"><a href="">NEW!</a></li>
            <li><a href="">多い</a></li>
            <li><a href="">少ない</a></li>
            <li><a href="">期限近い</a></li>
        </ul>
    </div>
    <div class="ganbareBox" ng-repeat="item in ganbaru">
        <span ng-init="totalNumber = 0; $index = 0;"></span>
        <div class="date">
            <p class="txt1"><span>登録日</span>{{item.ganbaru.createDate | dateFilter}}</p>
            <p class="txt2"><span>期限日</span>{{item.ganbaru.expiredDate | dateFilter}}</p>
            <p class="txt3">残り日数 {{item.ganbaru.createDate | caculatorDate:item.ganbaru.expiredDate}}日</p>
        </div>
        <div class="tit">
            <h2>ＫＯＳＩノコシノコシノ</h2>
            <p class="counter"><span>{{(item.ganbaru.ganbareNumber + $index) | numberFilter:15}} <span>GB</span></span></p>
        </div>
        <div class="ganbareVoice">
            <p><span class="txt">{{item.ganbaru.ganbaruContent}}</span><span class="bg"><img src="./img/000000.png"></span></p>
            <img src="./img/bg_fukidashi2.png" class="fukidashi" ="">
        </div>
        <div class="btArea">
            <p class="btGanbare" ng-click="$index = $index + 1"><a href="" ng-click="addGanbare(item)" class="modal"><img src="./img/bt_ganbare.png" alt=""></a></p>
            <span ng-if="item.ganbaru.isPinning == true">
                <p class="pin" ng-click="unPinGanbaru(item)"><a href="" class="current">ピンどめする</a></p>
            </span>
            <span ng-if="item.ganbaru.isPinning == false">
                <p class="pin" ng-click="pinGanbaru(item)"><a href="" class="modal">ピンどめする</a></p>
            </span>
            <p class="btDetail"><a href="" ng-click="ganbaruDetailDialog(item)">詳細を見る</a></p>
        </div>
    </div>
    <p class="moreview" ng-if="length >= skip" ng-click="listMoreGanbaru()"><a href=""><span>もっと見る</span></a></p>


</div>
<left-directive></left-directive>
<!-- ========================   /contents   ======================== -->
</div>

