<header-directive></header-directive>
<div class="register">
	<!--PANEL OF FORM INPUT-->
	<div class="input-panel" ng-show="isPanel('inputPanel')">
		<form name="registerForm" novalidate>
			<div class="block">
				<label class="float-left" for="username">Username</label>
				<input type="text" name="username" ng-model="user.username" required>
				<p class="error-input" ng-show="registerForm.username.$dirty && registerForm.username.$error.required">User name is required!</p>
			</div>

			<div class="block">
				<label class="float-left" for="password">Password</label>
				<input type="password" name="password" ng-model="user.password" ng-minlength="6" ng-maxlength="30" required>
				<p class="error-input" ng-show="registerForm.password.$dirty && registerForm.password.$error.required">Password is required!</p>
				<p class="error-input" ng-show="registerForm.password.$error.minlength">Password is required to be at least 6 characters!</p>
				<p class="error-input" ng-show="registerForm.password.$error.maxlength">Password cannot be longer than 30 characters!</p>
			</div>

			<div class="block">
				<label class="float-left" for="email">Email</label>
				<input type="email" name="email" ng-model="user.email" required>
				<p class="error-input" ng-show="registerForm.email.$dirty && registerForm.email.$error.required">Email is required!</p>
				<p class="error-input" ng-show="registerForm.email.$dirty && registerForm.email.$error.email">Invalid email!</p>
			</div>
			<div class="block">
				<label class="float-left" for="confirmEmail">Confirm email</label>
				<input type="email" name="confirmEmail" ng-model="user.confirmEmail" match="user.email" required>
				<p class="error-input" ng-show="registerForm.confirmEmail.$dirty && registerForm.confirmEmail.$error.match">Emails do not match!</p>
			</div>
			<div class="block btn-block confirm">
				<p class="inline-block btn btn-positive" ng-click="setPanel('confirmPanel')">確認</p>
				<p class="inline-block btn btn-negative" ng-click="">Back</p>
			</div>
		</form>
	</div>
	
	<!--PANEL FOR CONFIRMATION-->
	<div class="confirm-panel" ng-show="isPanel('confirmPanel')">
		<div class="block">
			<label class="float-left">Username</label>
			<label class="value">{{user.username}}</label>
		</div>
		<div class="block">
			<label class="float-left">Email</label>
			<label class="value">{{user.email}}</label>
		</div>
		<div class="block btn-block verify">
			<div>
				<p class="inline-block btn btn-positive" ng-click="submitForm()">登録</p>
				<p class="inline-block btn btn-negative" ng-click="setPanel('inputPanel')">Back</p>
			</div>
		</div>
	</div>
	
	<!--PANEL FOR VERIFICATION-->
	<div class="verify-panel" ng-show="isPanel('verifyPanel')">
		<p class="block notification">
			まだ登録は完了しておりません。
			登録メールアドレスまで自動返信にてメールをお送りいたしました。
			メール本文に記載されましたURLをクリックしていただき登録を完了させてください。
			でも、今便利になるように、下のボタン押したら、登録は完了されます。
		</p>
		<p class="btn-positive btn btn-verify" ng-click="verifyUser()">検証</p>
	</div>
	
	<div class="error-panel" ng-show="isPanel('errorPanel')">
		<p class="error-content">{{error}}</p>
		<div class="btn-block">
			<p class="inline-block btn btn-negative" ng-click="goTo('/register')">Back to Register</p>
			<p class="inline-block btn btn-negative" ng-click="goTo('/feedfv')">Back to Feed</p>
		</div>
	</div>
</div>