<div class="container register">
	<!--HEADER-->
	<div>
		<div class="header">
			<div class="logo float-left"></div>
			<div><h1>現在るの総ガンバレ数　０００００００</h1></div>
		</div>
	</div>
	<!--NAV & SECTION-->
	<div>
		<!--NAV-->
		<div class="nav">
			<div>
				<h4>Register</h4>
				<h4 class="arrow">&#8595;</h4>
				<h4>Confirm</h4>
				<h4 class="arrow">&#8595;</h4>
				<h4>Complete</h4>
				<h4 class="arrow">&#8595;</h4>
				<h4>Tutorial</h4>
				<h4 class="arrow">&#8595;</h4>
				<h4>GANBARE!</h4>
			</div>
			<div class="notification">
				<h4>&#8594;サイト利用方法</h4>
				<h4>&#8594;お知らせ</h4>
				<h4>&#8594;プライバシーポリシー</h4>
				<h4>&#8594;運営会社について</h4>
				<h4>&#8594;お間い合わせ</h4>
				<div class="footer">
					Copyright&#169; GANBARE All Rights Reserved.
				</div>
			</div>
		</div>	
		
		<!--SECTION-->
		<div class="section verify-panel">
			<div class="block notification" ng-show="isPanel(3)">
				<p>
					まだ登録は完了しておりません。
					登録メールアドレスまで自動返信にてメールをお送りいたしました。
					メール本文に記載されましたURLをクリックしていただき登録を完了させてください。
				</p>
				<p>
					Cái trên nghĩa là "Chưa hoàn thành đăng ký. Vui lòng kích hoạt tài khoản qua link đính kèm trong mail vừa gửi đến". Nhưng thôi để cho nhanh, phiền bạn trẻ bấm luôn vào button dưới nhé. 
				</p>
			</div>
			<div class="block verify-button">
				<button ng-show="isPanel(3)">Verify Register</button>
				<button ng-show="isPanel(4)">Back to Register</button>
			</div>
			<div class="block verify-error" ng-show="isPanel(4)">
				<p>Fucking error</p>
			</div>
		</div>
	</div>
</div>