<div class="ganbare-container">
	<div class="ganbare-block">
		<div class="ganbare-user-logo">
			
		</div>
		<div class="ganbare-information">
			<div>
				<h4><b>Created Date</b>: {{createdDate | date:'yyyy-MM-dd'}}</h4>
				<h4><b>Expired Date</b>: {{expiredDate | date:'yyyy-MM-dd'}}</h4>
			</div>
			<div>
				<h4><b>User</b>: {{username}}</h4>
			</div>
		</div>
	</div>
	<div class="ganbare-block">
		<div class="ganbare-number">
			<h3>{{ganbareNumber}}</h3>
		</div>
		<button><img src="./img/user/star.png" height="74"></button>
		<button><img src="./img/user/follow.png" height="74"></button>
	</div>
	<div class="ganbare-block">
		<p>{{ganbaruContent}}</p>
		<small>Location info</small>
	</div>
	<div class="ganbare-block">
	</div>
	<div class="ganbare-block">
		<button ng-click="addGanbare()">+ Ganbare</button>
	</div>
	<div class="ganbare-block">
	</div>
</div>