<div class="ganbare-container">
	<div class="ganbare-block first-block">
		<div class="ganbare-user-logo">
			
		</div>
		<div class="ganbare-information">
			<div>
				<h3>Created Date-----</h3>
				<h3>Expired Date-----</h3>
			</div>
			<div>
				<h3>Username</h3>
			</div>
		</div>
	</div>
	<div class="ganbare-block second-block">
		<div class="ganbare-number">
			<h3>0000000000000000000</h3>
		</div>
		<!-- <div class="ganbare-button"> -->
			<button><img src="./img/user/star.png" height="74"></button>
			<button><img src="./img/user/follow.png" height="74"></button>
		<!-- </div> -->
	</div>
	<div class="ganbare-block third-block">
		<p>This is the content</p>
		<small>Location info</small>
	</div>
	<div class="ganbare-block fourth-block">
	</div>
	<div class="ganbare-block fifth-block">
		<button>+ Ganbare</button>
	</div>
	<div class="ganbare-block sixth-block">
	</div>
</div>