<div class="container">
	<!--HEADER-->
	<div class="upper-container">
		<div class="header">
			<img class="logo" src="resources/img/logo/coffee.jpg" alt="Ganbare logo" width="100" height="100"></img>
			<div><h1>現在るの総ガンバレ数　　	　０００００００００００００００００００００</h1></div>
		</div>
	</div>
	<!--NAV & SECTION-->
	<div class="lower-container">
		<!--NAV-->
		<div class="nav register-nav">
			<div>
				<h3>Register</h3>
				<h3 class="arrow">&#8595;</h3>
				<h3>Confirm</h3>
				<h3 class="arrow">&#8595;</h3>
				<h3>Complete</h3>
				<h3 class="arrow">&#8595;</h3>
				<h3>Tutorial</h3>
				<h3 class="arrow">&#8595;</h3>
				<h3>GANBARE!</h3>
			</div>
			<div style="margin: 60px 0 30px 0;">
				<h3>&#8594;サイト利用方法</h3>
				<h3>&#8594;お知らせ</h3>
				<h3>&#8594;プライバシーポリシー</h3>
				<h3>&#8594;運営会社について</h3>
				<h3>&#8594;お間い合わせ</h3>
				<div class="footer">
					Copyright&#169; GANBARE All Rights Reserved.
				</div>
			</div>
		</div>	
		
		<!--SECTION-->
		<div class="section">
			<form name="confirmForm" ng-submit="register()" novalidate>
				<!--USERNAME INPUT-->
				<div class="form-block">
					<label for="username">Username</label>
					<h4>{{username}}</h4>
				</div>
				
				<!--EMAIL INPUT-->
				<div class="form-block">
					<label for="email">Email</label>
					<h4>{{email}}</h4>
				</div>

				<div class="from-block form-btn-block">
					<input class="button" type="submit" value="Register">
					<input class="button" type="button" onclick="location.href='#/register'" value="Cancel">
				</div>			
			</form>	
		</div>
	</div>
</div>